@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("./fonts/HelveticaNeue-Thin.otf") format("truetype");
  font-family: "HelveticaNeue";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
}
@font-face {
  src: url("./fonts/HelveticaNeue-Light.otf") format("truetype");
  font-family: "HelveticaNeue";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}
@font-face {
  src: url("./fonts/HelveticaNeue-Roman.otf") format("truetype");
  font-family: "HelveticaNeue";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  src: url("./fonts/HelveticaNeue-Medium.otf") format("truetype");
  font-family: "HelveticaNeue";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  src: url("./fonts/HelveticaNeue-Bold.otf") format("truetype");
  font-family: "HelveticaNeue";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

.transition-max-height {
  transition-property: max-height;
}

:root {
  --bold: #2b3f5a !important;
  --black: #2b3f5a !important;
  --brown: #6e7892 !important;
  --blue: #235dff !important;
  --yellow: #ffe984 !important;
  --light-brown: #f9f6f3 !important;
  --brown-light: rgba(110, 120, 146, 0.5) !important;
  --white: #ffffff !important;
  --red: #ff5749 !important;
  --green: #46cb5c !important;
  --toastify-color-info: #5254f1;
  --toastify-color-success: #46cb5c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #ff5749;
}
* {
  box-sizing: border-box;
  user-select: text;
  font-family: "HelveticaNeue", sans-serif !important;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #f5f6f9 !important;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

body,
button,
select,
input,
textarea {
  font-family: "HelveticaNeue", sans-serif !important;
}
::selection {
  background: var(--yellow);
  color: var(--black);
}
::-webkit-scrollbar {
  width: 7px;
  height: 0;
}
::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background: #757679;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

ul {
  list-style-type: none !important;
  padding: 0;
}
input {
  outline: none !important;
  box-shadow: none !important;
  font-family: "Onest", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
}
input[type="date"] {
  cursor: text !important;
}
textarea {
  resize: none !important;
}
button {
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#menu-modal.show {
  display: block;
}

#menu-modal {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#menu-modal.show {
  opacity: 1;
}

#menu-content {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

#menu-modal.show #menu-content {
  transform: translateX(0);
}

.Cell:hover .SlideText {
  transform: translateY(10);
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 1;
}

.Cell:hover .Icon {
  margin-top: 30px;
  background: #2aa234;
  fill: white;
  /* padding-top: 40px; */
  /* margin-bottom: 20px; */
}

.Cell:hover .BlockText {
  margin-top: -30px;
  margin-bottom: 20px;
}

.Cell:hover .MainText {
  margin-top: -30px;
  margin-bottom: 20px;
}

.Cell:hover .LinkIcon {
  margin-top: -30px;
  margin-bottom: 20px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  height: 300px;
}

.inner-shadow {
  @apply shadow-inner;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
}

.owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.item {
  width: 100%;
  max-width: 590px;
}

.owl-stage {
  display: flex;
  align-items: center;
}
.relative.w-15.h-6 {
  position: relative;
  overflow: hidden;
}

#progressBar {
  height: 100%;
  width: 30px !important;
  background-color: #48bb78;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9999px;
}

.slider {
  margin-left: -713px;
}

#slider .last-card {
  margin-right: 0;
}

.owl-carousel2 .item {
  background: #4dc7a0;
  padding: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-size: 18px;
}

.carusell_main {
  overflow: hidden;
}
.carusell {
  width: calc(100% + 300px);
  margin-left: -150px;
}
